extends layout

block jumbo
    .jumbotron
        .container
            h3 Archived BOLOs
            input#input.hidden(value='archived')
            label.label(for='filterArchived')
                | Filter BOLOs By:
            div(style='display:inline-block')
                select#filterArchived.selectpicker(title="Filter By" data-width="fit" style='display:inline-block')
                    option(value="allBolos" selected="selected") All Bolos
                    option(value="myAgency") My Agency
                    option(value="myBolos") My Bolos
     
block content
   .container
        #bolo-list.row.text-center
        .row.text-center
              nav(aria-label="Page navigation")
                ul#bolo-paging.pagination
        script(src="/js/renderPage.js" )